.foot1, .foot2, .foot3 {
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
    margin: auto
}

#footer .container1903::after, #footer .container12::after {
    content: '';
    display: block;
    clear: both
}

#footer .container12 .wrap, #footer .container12 .wrap > div {
    width: 1170px;
    margin: auto
}

#footer .d_none {
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden
}

#footer .d_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width: 1169px) {
    #footer .container1903, #footer .container12, #footer .container1903 .wrap, #footer .container12 .wrap, #footer .container1903 .wrap > div, #footer .container12 .wrap > div {
        width: 100%
    }
}

.foot1 {
    background: #2b7f4b;
    background-size: contain;
    color: #fff;
    line-height: 1.4
}

@media screen and (min-width: 1170px) {
    .foot1 {
        background: #2b7f4b url(https://benhvienthucuc.vn/cdn/images/foot1_2.jpg) 0 0 no-repeat;
        background-size: cover
    }

    .foot3 {
        display: none
    }
}

.foot1 .ttu {
    text-transform: uppercase
}

.foot1 a {
    display: inline-block;
    color: #ffde63;
    border-bottom: 1px solid rgba(0, 0, 0, 0)
}

.foot1 a:hover {
    color: #ffde63;
    border-bottom: 1px solid #ffde63
}

.foot1 .wrap > div {
    padding: 24px
}

.foot1_col1 {
    width: 29%;
    margin-bottom: 8px
}

.foot1_col2 {
    width: 67%;
    border-bottom: none;
    margin-bottom: 8px
}

.foot1_col2 ul {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center
}

.foot1_col2 ul li {
    display: inline-block;
    padding: 4px 8px;
    font-size: 15px
}

.foot1_col2 ul li a, .foot1_col2 ul li.current-menu-item a {
    color: #fff;
    border: 0
}

.foot1_col3 {
    width: 30%
}

.foot1_col3 h2 {
    font-size: 18px
}

.foot1_col3 p {
    font-size: 15px;
    line-height: 1.6
}

.foot1_col3 div {
    margin: 16px 0
}

.foot1_col3 div span a {
    display: inline-block;
    background-color: #fff;
    color: #2b7f4b;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    margin-right: 4px
}

.foot1_col3 div span a#bct_link {
    background-color: initial;
    width: 160px;
    margin: auto;
    margin-top: 8px;
    height: auto;
}

.foot1_col3 div span a:hover {
    background-color: #2b7f4b;
    color: #fff
}

.foot1_col4 {
    width: 67%
}

.foot1_col4_col {
    width: 47%;
    margin: 12px 0
}

.foot1_col4_col p .ttu {
    font-weight: 500
}

.foot1_col4_col p {
    font-size: 15px;
    line-height: 1.6
}

.foot1_col4_col p b {
    font-size: 15px;
    color: #ffde63;
    display: inline-block;
    padding-bottom: 4px
}

.foot1_col4_col p span b {
    margin-top: 16px;
    display: inline-block
}

.foot1_col4_col_map a {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 4px 0
}

.foot1_col4_col_map a:hover {
    border: 1px solid #fff;
    font-weight: 700
}

.foot2 {
    background-color: #0d9347;
    position: fixed;
    z-index: 8888;
    left: 0;
    bottom: 0
}

#footer .foot2 .wrap > div {
    justify-content: flex-start;
    line-height: initial;
}

.foot2 .wrap > div > div {
    margin: 0 8px
}

.foot2_col1 {
    background-color: #fe410b;
    display: inline-block;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px 5px 0 0;
    font-size: 15px
}

.foot2_col1 a {
    color: #fff;
    font-weight: 700
}

@media screen and (max-width: 1169px) {
    .foot1 .wrap > div {
        padding: 24px 12px 60px;
        width: 100%;
    }

    .foot1_col2 {
        order: -1
    }

    .foot1_col1, .foot1_col2, .foot1_col3, .foot1_col4 {
        width: 100%
    }

    .foot1_col1, .foot1_col2 {
        text-align: center;
        margin-bottom: 1rem
    }

    .foot1_col3 p {
        font-size: 14px;
    }

    .foot1_col4_col {
        width: 100%;
        margin: 8px 0
    }

    .foot1_col4_col span br {
        display: none
    }

    .foot1_col4_col p {
        font-size: 14px;
    }

    .foot2 {
        width: 100%;
        max-width: initial;
        display: none
    }

    #footer .foot2 .wrap > div {
        padding: 0
    }

    .foot2_col1:first-child {
        display: none
    }
}

.foot3 {
    background: none;
    position: fixed;
    z-index: 9999;
    left: 15px;
    bottom: 35px;
    width: auto;
}

.foot3_col1 {
    background: none
}

.foot3_col1_m a {
    background: linear-gradient(#f53018, #fe5f5f);
    border-radius: 28px;
    box-shadow: 0 0 0 0 #FF5722;
    -webkit-animation: won 1s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: won 1s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 28px;
    line-height: 1;
    display: inline-block;
    color: #fff
}

.foot3_col1_m a i {
    -webkit-animation: won 1s infinite ease-in-out;
    animation: won 1s infinite ease-in-out;
    padding: 11px 14px;
}

@-webkit-keyframes won {
    to {
        box-shadow: 0 0 0 15px rgba(202, 33, 17, 0)
    }
}

@keyframes won {
    0% {
        transform: rotate(-25deg)
    }
    10% {
        transform: rotate(-40deg)
    }
    20% {
        transform: rotate(-35deg)
    }
    30% {
        transform: rotate(-40deg)
    }
    40% {
        transform: rotate(-35deg)
    }
    50% {
        transform: rotate(-25deg)
    }
    100% {
        transform: rotate(-25deg);
        box-shadow: 0 0 0 15px rgba(202, 33, 17, 0)
    }
}
